@{
    ViewData["Title"] = "ProductList";
}

<!-- Tables -->
<div id="app" v-cloak>
    <div class="card shadow mb-4">
                        
        <div class="card-body">
            <div>
                <button class="btn btn-primary mt-2 mb-4" data-toggle="modal" data-target="#create-modal">新增產品</button>
            </div>
            <b-container fluid class="pt-4">
                <b-row class="mb-4">
                        <b-form-group
                  
                            label-for="filter-input"
                            label-cols-sm="3"
                            label-align-sm="left"
                            label-size="sm"
                        >
                            <b-input-group size="md">
                            <b-form-input
                                id="filter-input"
                                v-model="filter"
                                type="search"
                                placeholder="搜尋關鍵字"
                            ></b-form-input>

                            <b-input-group-append>
                                <b-button :disabled="!filter" v-on:click="filter = ''">清除</b-button>
                            </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                </b-row>

                <div>
                    <b-table 
                        striped 
                        hover 
                        :items="productList"
                        :fields="fields"
                        :current-page="currentPage"
                        :per-page="perPage"
                        :filter="filter"
                        :filter-included-fields="filterOn"
                        :sort-by.sync="sortBy"
                        :sort-desc.sync="sortDesc"
                        :sort-direction="sortDirection"
                        stacked="md"
                        show-empty
                        empty-filtered-text="目前無資料"
                        empty-text="目前無資料"
                        v-on:filtered="onFiltered"
                        :busy="isBusy"
                    >
                        <template #table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>

                        <template #cell(actions)="row">
                            <b-button size="md" v-on:click="selectEdit(row)" variant="primary" data-toggle="modal" data-target="#edit-modal">
                                編輯
                            </b-button>
                            <b-button size="md" v-on:click="delete(row)" variant="danger">
                                刪除
                            </b-button>
                        </template>
                    </b-table>
                </div>

                <b-row class="my-4">
                    @*每頁顯示幾筆*@
                    <b-col sm="4" md="4">
                        <b-form-group
                          label="每頁顯示筆數"
                          label-for="per-page-select"
                          label-cols-sm="6"
                          label-cols-md="4"
                          label-cols-lg="3"
                          label-align-sm="left"
                          label-size="md"
                          class="mb-0"
                        >
                          <b-form-select
                            id="per-page-select"
                            v-model="perPage"
                            :options="pageOptions"
                            size="md"
                            class="w-25"
                          ></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col sm="7" md="6">
                        <b-pagination
                          v-model="currentPage"
                          :total-rows="totalRows"
                          :per-page="perPage"
                          align="fill"
                          size="md"
                          class="my-0"
                        ></b-pagination>
                    </b-col>
                </b-row>

            </b-container>
        </div>
    </div>

    @*新增modal*@
    <div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">新增產品</h5> 
                        <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close"> 
                        <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body container">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3"> 
                            <label for="productName">產品名稱</label> 
                            <input v-model="createProductData.productName" class="form-control" type="text" id="productName">                           
                        </div>
                        <div class="col-12 col-md-6 mb-3"> 
                            <label for="categoryName">種類</label> 
                            <input v-model="createProductData.categoryName" class="form-control" type="text" id="categoryName">
                        </div>
                        <div class="col-12 col-md-6 mb-3"> 
                            <label for="categoryName">單位</label> 
                            <input v-model="createProductData.quantityPerUnit" class="form-control" type="text" id="quantityPerUnit">
                        </div>
                        <div class="col-12 col-md-6 mb-3"> 
                            <label for="unitPrice">單價</label> 
                            <input v-model="createProductData.unitPrice" class="form-control" type="number" id="unitPrice">
                        </div>
                        <div class="col-12 col-md-6 mb-3"> 
                            <label for="unitsInStock">庫存</label> 
                            <input v-model="createProductData.unitsInStock" class="form-control" type="number" id="unitsInStock">
                        </div>
                        <div class="col-12 col-md-6 mb-3"> 
                            <label for="discontinued">是否停產</label> 
                            <input v-model="createProductData.discontinued" class="form-control" type="text" id="discontinued">
                        </div>
                    </div>
                </div>
                <div class="modal-footer"> 
                    <span class="text-danger small">{{ modalErrorMsg }}</span>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="initCreateData">取消</button>
                    <b-overlay
                        :show="uploadBusy"
                        rounded
                        opacity="0.6"
                        spinner-small
                        spinner-variant="primary"
                        class="d-inline-block"
                    >
                        <button v-on:click="create()" type="button" class="btn btn-primary">新增</button>
                    </b-overlay>
                </div>
            </div>
        </div>
    </div>

    @*編輯modal*@
    <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">編輯產品</h5>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                        <span aria-hidden="true">&times;</span> 
                    </button>
                </div>
                <div class="modal-body container">
                    <div class="col-12 col-md-6 mb-3" hidden> 
                        <label for="productId">ID</label> 
                        <input v-model="currentProduct.productId" class="form-control" type="text" id="productId">                           
                    </div>
                    <div class="col-12 col-md-6 mb-3"> 
                        <label for="productName">產品名稱</label> 
                        <input v-model="currentProduct.productName" class="form-control" type="text" id="productName">                           
                    </div>
                    <div class="col-12 col-md-6 mb-3"> 
                        <label for="categoryName">種類</label> 
                        <input v-model="currentProduct.categoryName" class="form-control" type="text" id="categoryName">
                    </div>
                    <div class="col-12 col-md-6 mb-3"> 
                        <label for="categoryName">單位</label> 
                        <input v-model="currentProduct.quantityPerUnit" class="form-control" type="text" id="quantityPerUnit">
                    </div>
                    <div class="col-12 col-md-6 mb-3"> 
                        <label for="unitPrice">單價</label> 
                        <input v-model="currentProduct.unitPrice" class="form-control" type="number" id="unitPrice">
                    </div>
                    <div class="col-12 col-md-6 mb-3"> 
                        <label for="unitsInStock">庫存</label> 
                        <input v-model="currentProduct.unitsInStock" class="form-control" type="number" id="unitsInStock">
                    </div>
                    <div class="col-12 col-md-6 mb-3"> 
                        <label for="discontinued">是否停產</label> 
                        <input v-model="currentProduct.discontinued" class="form-control" type="text" id="discontinued">
                    </div>
                </div>
                <div class="modal-footer"> 
                    <span class="text-danger small">{{ modalErrorMsg }}</span>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="initUpdateData">取消</button>
                    <button v-on:click="update()" type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/productList.js"></script>
}
